body.a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("Image\ 1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

div.a {
    position: relative;
    width: 80%;
    background-color: white;
    padding: 18px;
    border-radius: 6px;
    max-width: 400px;
}

p.a {
    position: relative;
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    font-family: cursive;
}
input.a{
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 1px;
    font-size: 16px;
}
p.b{
    display: inline;
    font-size: 14px;
    color: #666;
}
a.a{
    text-decoration: none;
    color: #666;
    cursor: pointer;
    font-size: 16px;
}
input.b{
    width: 100%;
    padding: 10px;
    background-color: skyblue;
    border: 2px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input.b:hover {
    background-color: #2980b9;
}